@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-regular.woff2") format('woff2'), url("../fonts/merriweather-regular.woff") format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-bold.woff2") format('woff2'), url("../fonts/merriweather-bold.woff") format('woff');
}
body {
  font-family: 'Merriweather', Georgia, Times, serif;
  background: #fff;
  color: #454545;
  line-height: 1.8;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 850px) {
  body {
    font-size: 19px;
  }
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
p {
  margin-bottom: 1em;
}
a {
  color: #fff;
}
a:visited {
  color: #fff;
}
main {
  padding: 0 10px;
}
select {
  cursor: pointer;
}
.hide {
  display: none;
}
.highlight {
  padding: 0.15em 0.25em;
  border-radius: 3px;
}
.bottom {
  background-color: #a9e5d9;
}
.top {
  background-color: #f64b35;
  color: #fff;
}
.intro {
  background-color: #efefef;
  padding: 2em 1em;
}
.intro-content {
  max-width: 30em;
  margin: 0 auto;
}
@media only screen and (min-width: 850px) {
  .intro-content {
    max-width: 40em;
  }
}
.intro-hed {
  color: #867550;
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.25em;
}
@media only screen and (min-width: 850px) {
  .intro-hed {
    font-size: 4.5em;
  }
}
.intro-dek {
  color: #333;
  font-size: 0.8em;
  font-weight: 400;
}
@media only screen and (min-width: 850px) {
  .intro-dek {
    max-width: 35em;
  }
}
.intro-date {
  margin-bottom: 1.2em;
  color: #666;
  font-size: 0.7em;
  display: block;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
#container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#sections {
  margin-top: 45px;
}
@media only screen and (min-width: 850px) {
  #sections {
    max-width: 360px;
    float: left;
    padding-left: 0.5em;
  }
}
#sections section {
  transition: opacity 250ms ease-in-out;
  min-height: 75vh;
  opacity: 0;
}
@media only screen and (min-width: 850px) {
  #sections section {
    opacity: 0.35;
    min-height: 67vh;
    margin-top: 0.25em;
  }
}
#sections section.graph-scroll-active {
  opacity: 1;
}
#graphic {
  background-color: $bg;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
  display: none;
  border-top: 1px dotted #867550;
}
#graphic.graph-scroll-fixed {
  display: block;
}
#graphic.graph-scroll-below {
  display: none;
}
@media only screen and (min-width: 850px) {
  #graphic {
    border: none;
    background-color: transparent;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    position: static;
    padding: 0;
    width: auto;
  }
  #graphic.graph-scroll-fixed {
    display: block;
    position: fixed;
    top: 0px;
    left: 370px;
  }
  #graphic.graph-scroll-below {
    display: block;
    position: absolute;
    bottom: 0px;
    margin-left: 380px;
  }
}
.axis {
  font-size: 11px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}
.axis--y path,
.axis--y line {
  stroke: none;
}
.axis--y-label {
  font-size: 13px;
  fill: #888;
}
circle.wins {
  fill: #867550;
  fill-opacity: 0.33;
  stroke: none;
  stroke-opacity: 1;
  cursor: pointer;
}
circle.wins.bottom {
  fill: #a9e5d9;
  stroke: #a9e5d9;
}
circle.wins.top {
  fill: #f64b35;
  stroke: #f64b35;
}
path.all {
  fill: none;
  stroke: #867550;
  stroke-width: 2px;
  stroke-opacity: 0.1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
path.stretch-path {
  fill: none;
  stroke: #867550;
  stroke-opacity: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.madlib-name {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-family: 'Merriweather', Georgia, Times, serif;
  font-size: 19px;
  color: #454545;
  border-bottom: 1px dashed #000;
}
.annotations path {
  fill: none;
  stroke: #867550;
}
.annotations text {
  fill: #867550;
  font-family: 'Merriweather', Georgia, Times, serif;
  font-size: 11px;
}
#arrow {
  fill: #867550;
}
.youtube {
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  position: fixed;
  z-index: -1;
  opacity: 0.3;
  transition: opacity 250ms linear;
}
.youtube.transparent {
  opacity: 0;
}
@media only screen and (min-width: 850px) {
  .stephen-curry {
    background-color: rgba(246,75,53,0.2);
    padding: 0 0.25em;
    cursor: pointer;
    border: 1px dashed #f64b35;
    border-radius: 3px;
    font-weight: 700;
  }
}
.outro {
  margin-top: 2em;
  background-color: #f64b35;
  color: #721205;
  padding: 4em 1em;
}
.outro ul {
  max-width: 35em;
  margin: 0 auto;
}
.outro ul li {
  text-align: center;
}
.tooltip-text {
  font-size: 13px;
  fill: #e9e4da;
}
.tooltip-text tspan {
  font-weight: 700;
}
.tooltip-rect {
  fill: rgba(121,105,72,0.8);
}
