$bottom = rgb(97, 168, 172)
$bottom = rgb(109, 123, 132)
$bottom = rgb(100, 150, 150)
$top = rgb(200, 68, 64)
$top = rgb(255, 130, 136)
$top = rgb(230, 100, 100)
$neutral = rgb(160, 140, 120)
$bg = rgb(255, 250, 240)
$section-width = 360px
$section-margin = 20px

$path = '../fonts'

@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 300
	src local('Roboto Light'), local('Roboto-Light'), url($path + '/roboto-v15-latin-300.woff2') format('woff2'), url($path + '/roboto-v15-latin-300.woff') format('woff')

@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 400
	src local('Roboto Regular'), local('Roboto-Regular'), url($path + '/roboto-v15-latin-regular.woff2') format('woff2'), url($path + '/roboto-v15-latin-regular.woff') format('woff')

@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 700
	src local('Roboto Bold'), local('Roboto-Bold'), url($path + '/roboto-v15-latin-700.woff2') format('woff2'), url($path + '/roboto-v15-latin-700.woff') format('woff')

$roboto = 'Roboto', Helvetica, Arial, sans-serif

body
	background $bg
	color #454545
	font-size 19px
	line-height 1.4
	font-family $roboto
	font-weight 400
	-webkit-font-smoothing antialiased

strong 
	font-weight 700

em 
	font-style italic

p 
	margin-bottom 1em

a 
	color white
	&:visited 
		color white
main 
	padding 0 1em

.hide 
	display none
	
.bottom 
	color $bottom

.top
	color $top

.intro
	background-color $top
	padding 2em 1em
	color darken($top, 50%)
	&-content
		max-width 35em
		margin 0 auto
	&-hed
		font-weight 700
		font-size 1.6em
		text-align center
		margin-bottom 0.5em
	&-byline
		text-align center
	&-date
		text-align center
		font-size 0.8em

#container
	position relative
	width 100%
	overflow hidden

#sections
	margin-top $section-margin
	@media only screen and (min-width: 850px)
		max-width $section-width
		float left
	section
		// background-color $bg
		transition opacity 250ms ease-in-out
		@media only screen and (min-width: 850px)
			opacity 0.35
			min-height 67vh
			margin-top 0.25em
		&.graph-scroll-active 
			opacity 1

#graphic
	display none
	float left
	margin-left $section-margin
	margin-top $section-margin
	&.graph-scroll-fixed
		position fixed
		top 0px
		left $section-width + $section-margin
	&.graph-scroll-below
		position absolute
		bottom 0px
		margin-left $section-width + $section-margin
	@media only screen and (min-width: 850px)
		display block

.axis
	font-size 11px

	path, line
		fill none
		stroke #ccc
		stroke-opacity 1
		shape-rendering crispEdges
	
	&--y
		path, line
			stroke none
	
		&-label
			font-size 13px
			fill #888

circle.wins  
	fill $neutral
	fill-opacity 0.33
	stroke none
	stroke-opacity 1
	&.bottom
		fill $bottom
		stroke $bottom
	&.top
		fill $top
		stroke $top
		
path.all
	fill none
	stroke $neutral
	stroke-width 2px
	stroke-opacity 0.1
	stroke-linejoin round
	stroke-linecap round

path.stretch-path
	fill none
	stroke $neutral
	stroke-opacity 0.2
	stroke-linejoin round
	stroke-linecap round

.madlib-name 
	outline none
	border none
	background none
	text-align center
	display inline-block
	font-family $roboto 
	font-size 19px
	color #454545
	border-bottom 1px dashed black

.annotations
	path
		fill none
		stroke $neutral
	text 
		fill $neutral
		font-family $roboto
		font-size 11px
#arrow 
	fill $neutral

.youtube 
	top -10%
	left -10%
	width 120%
	height 120%
	position fixed
	z-index -1
	opacity 0.3
	transition opacity 250ms linear
	&.transparent
		opacity 0
	
.stephen-curry 
	background-color rgba($top, 0.2)
	padding 0 0.25em
	cursor pointer
	border 1px dashed $top
	
.outro
	margin-top 2em
	background-color $bottom
	color darken($bottom, 50%)
	padding 4em 1em
	ul 
		max-width 35em
		margin 0 auto
		li 
			text-align center