body {
  font-family: Helvetica, Arial, sans-serif;
}
main {
  padding: 1em;
}
svg {
  margin-top: 1em;
  border: 1px solid #000;
  stroke: #000;
  stroke-opacity: 0.1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
svg .axis {
  font-size: 11px;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}
svg .axis--y path,
svg .axis--y line {
  stroke: none;
}
svg .dot {
  fill: #888;
  stroke: none;
}
svg .dot.worst {
  fill: #f00;
}
svg .dot.first {
  fill: #008000;
}
svg .line {
  fill: none;
}
