body {
  font-family: Helvetica, Arial, sans-serif;
}
main {
  padding: 1em;
}
svg {
  margin-top: 1em;
  stroke: #000;
  stroke-opacity: 0.1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
svg .axis {
  font-size: 11px;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}
svg .axis--y path,
svg .axis--y line {
  stroke: none;
}
svg .dot {
  fill: #dedede;
  stroke: none;
}
svg .dot.worst {
  fill: #2b83ba;
}
svg .dot.bottom {
  fill: #2b83ba;
  opacity: 0.33;
}
svg .dot.first {
  fill: #d7191c;
}
svg .dot.top {
  fill: #d7191c;
  opacity: 0.33;
}
svg .line {
  fill: none;
}
