body
	font-family Helvetica, Arial, sans-serif

main 
	padding 1em

svg
	margin-top 1em
	border 1px solid black
	.axis
		font-size 11px
		path, line
			fill none
			stroke #ccc
			stroke-opacity 1
			shape-rendering crispEdges
		&--y
			path, line
				stroke none
	.dot 
		fill #888
		stroke none
		&.worst 
			fill red
		&.first
			fill green
	.line 
		fill none
	    stroke #000
	    stroke-opacity 0.1
	    stroke-linejoin round
	    stroke-linecap round