body
	font-family Helvetica, Arial, sans-serif

main 
	padding 1em

svg
	margin-top 1em
	.axis
		font-size 11px
		path, line
			fill none
			stroke #ccc
			stroke-opacity 1
			shape-rendering crispEdges
		&--y
			path, line
				stroke none
	.dot 
		fill #dedede
		stroke none
		&.worst 
			fill #2b83ba
		&.bottom
			fill #2b83ba
			opacity 0.33
		&.first
			fill #d7191c
		&.top 
			fill #d7191c
			opacity 0.33
	.line 
		fill none
	    stroke #000
	    stroke-opacity 0.1
	    stroke-linejoin round
	    stroke-linecap round