body
	font-family Helvetica, Arial, sans-serif

main 
	padding 1em

svg
	margin-top 1em
	border 1px solid black
	.axis
		font-size 11px
		path, line
			fill none
			stroke #ccc
			shape-rendering crispEdges
	.dot 
		fill #888
		stroke none
	.line 
		fill none
		stroke #888
		stroke-width 1px